/* Image de fond */
html {
  background-image: url("../IMG/Background_main.jpg");
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* Fin Image de fond */

/* La barre de navigation */
body {
  margin: 0;
  padding: 0;
}

.navbar { 
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover  {
  background-color: red;
}

.left_search {
  float: right;
  margin-top: 12px;
}

#deco{
  float: right;
}

#container_article{
  font-weight: bold;
  position: absolute;
  overflow: scroll;
  transform: translate(115%, 10%);
  height: 700px;
  width: 30%;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.article{
  position: relative;
  height: 200px;
  width: 100%;
  background: rgba(236, 236, 236, 0.6);
  color: #000;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 2px rgba(255, 255, 255, 0.2) ridge;
  margin-bottom: 5px;
}
/*fin  main_top_sug */

/* width */
#container_article::-webkit-scrollbar {
  display: none;
}

.pseudo_article{
  text-align: left;
  display: inline-block;
}

.titre_article{
  letter-spacing: 1px;
  font-size: 1.1em;
  width: 100%;
  max-width: 100%;
  outline: inherit;
  background: rgba(255, 255, 255, 0);
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.titre_article:hover{
    color: red;
}

.text_article{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}

.categorie_article{
  color: #9E0505;
  position: absolute;
  text-align: left;
  bottom: 0;
  width: 100%;
}
.button_star{
  padding: 10px 10px 0px 0px;
  float: right;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 7%;
}

.star{
  width: 100%;
}

.form_fav{
  display: inline;
}

.date_article{
  float: right;
  padding-right: 5px;
  color: black;
  font-weight: normal;
}