/* La barre de navigation */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar { 
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover  {
  background-color: red;
}

#deco  {
  float: right;
}
/* Fin de la barre de navigation */

/* Image background CSS */

body {
  background-image: url(../IMG/Blanc.jpg);
  background-attachment: fixed;
  background-size:cover;
  background-repeat: repeat;
}
/* Fin image background CSS */

/* La side barre */

#sidebar {
  font-family: Roboto, Arial, sans-serif;
  width: 100px;
}

#list-info1, #list-info2 , #list-info3 , #list-info4 {
  position: absolute;
  border: 3px solid;
  margin-right: 0%;
  background-color: #333;
  color: white;
  font-size: 25px;
}

#list-info1 {
  top: 350px;
  left: 0px;
  width: 250px;
  text-align: center;
}
#list-info2 {
  top: 400px;
  left: 0px;
  width: 250px;
  text-align: center;
}
#list-info3 {
  top: 450px;
  left: 0px;
  width: 250px;
  text-align: center;
}
#list-info4 {
  top: 500px;
  left: 0px;
  width: 250px;
  text-align: center;
}


.separation{
	position: fixed;
	margin-left: 250px;
	height: 100%;
	width : 2px;
	background: black;
	}

a:link {
  text-decoration: none;
}

/* Fin de la side barre */

/* Block au centre  */
#paramètres {
  position: relative;
  border: 3px solid;
  height: 25%;
  width: 50%;
  text-align: center; 
  padding: 30px;
  left:500px;
  top: 50px;
}

/* Fin block au centre  */

/* Copyright */

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

#img_copy2 {
  position: absolute;
  left: 80%;
  top: 700px;

}

.footer_bottom {
  background: black;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
}

.footer_bottom p  {
  font-size: 14px;
  word-spacing: 5px;
  text-transform: capitalize;
}

/* Fin copyright */


